* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    overflow: auto;
    text-align: center;
    grid-template-columns: 1.5fr 7fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: lightblue;
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    grid-template-rows: repeat(12, 1fr);
    gap: 5px;
}

svg {
    height: 1.5rem;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    margin-top: 1rem;
}

.square {
    display: grid;
    height: 2rem;
    width: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 5);
    gap: 4px;
    padding-left: 30px;
}

.square>div {
    background-color: white;
}

.left-top {
    grid-area: 1 / 1 / 4 / 2;
}

.left-bottom {
    grid-area: 4 / 1 / 6 / 2;
}

.right-top {
    grid-area: 1 / 2 / 3 / 3;
}

.right-bottom {
    grid-area: 3 / 2 / 6 / 3;
}

.header {
    background-color: white;
    font-size: 1.5rem;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.search-input {
    height: 1.75rem;
    width: 60%;
    background-color: gray;
    border-radius: .875rem;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1.5fr .5fr 1fr;
}

.header-bottom-left {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.avatar-big {
    grid-column: 1 / 2;
}

.greeting {
    grid-column: 2 / 3;
}

.header-bottom-right {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

button {
    margin: 1rem;
}


.main-content {
    background-color: gray;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.main-left {
    grid-column: 1 / 2;
    background-color: lightgreen;
    padding: 1rem;
    text-align: start;
}

.main-left-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    gap: 1rem;
}

.content-squares {
    height: 200px;
    border: 1px solid black;
}


.main-right {
    grid-column: 2 / 3;
    background-color: lightseagreen;
}

.announcements { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.announcements > div {
    border: 1px solid black;
}

.trending {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}